<!DOCTYPE html>
<html lang="en">
<head th:replace="~{layout :: head}">
</head>
<body>
<div class="wrapper">
    <div th:replace="~{layout :: header}"></div>

    <div th:fragment="content" class="content">
    <form th:action="@{/welcome/addAttraction}" th:object="${obj}" method="post">
        <label for="name">Name</label>
        <input type="text" id="name" th:field="*{name}">
        <br><br>
        <label for="description">Description</label>
        <input type="text" id="description" th:field="*{description}">
        <br><br>
        <label for="city">City</label>
        <select id="city" name="CityNames" th:field="*{city}">
            <option th:each=" city : ${CityNames}" th:value="${city}" th:text="${city.getName()}">
            </option>
        </select>
        <br><br>
        <label for="tags">Tags</label>
        <th:block th:each="tag : ${tags}">
            <input type="checkbox" id="tags" th:field="*{tags}" th:value="${tag}" th:text="${tag.getName()}"/>
        </th:block>
        <button type="submit">Finish</button>
    </form>

    </div>

    <div th:replace="~{layout :: footer}"></div>
</div>
</body>
</html>