<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>List of Attractions</title>
    <link rel="stylesheet" href="/styleSheetsCSS/attractionListStyle.css">
    <link rel="stylesheet" href="/style.css">
</head>

<body>
<div class="wrapper">
<div th:replace="~{layout :: header}"></div>

<div class="list">
<main class="table">  <!-- main means it is unik to this HTML file -->
    <section class="table_header">
        <h1>List of Tourist Attractions</h1>
    </section>

    <section class="table_body">
        <!-- <h1 th:text="${something}"></h1> -->
        <table class="table table-dark">
            <thead>
                <tr>
                    <th scope="col">City</th>
                    <th scope="col">Name</th>
                    <th scope="col">Description</th>
                    <th scope="col" class="button">Delete</th>
                    <th scope="col" class="button">Edit</th>
                    <th scope="col" class="button">Tags</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="TouristAttraction : ${attractionList}">
                    <td th:text="${TouristAttraction.getCity().getName()}">
                    <td th:text="${TouristAttraction.name}"/>
                    <td th:text="${TouristAttraction.description}"/>
                    <td>
                        <form th:action="@{/welcome/{name}/delete(name=${TouristAttraction.name})}" method="post">
                            <button type="submit">Delete</button>
                        </form>
                    </td>
                    <td>
                        <form th:action="@{/welcome/{name}/edit(name=${TouristAttraction.name})}" method="get">
                            <button type="submit">Edit</button>
                        </form>
                    </td>
                    <td>
                        <form th:action="@{/welcome/{name}/tags(name=${TouristAttraction.name})}" method="get">
                            <button type="submit">Tags</button>
                        </form>

                    </td>

                </tr>
            </tbody>
        </table>
    </section>

</main>



    <form th:action="@{/welcome/addAttraction}" method="get">
        <button class="submitButton" type="submit">Add Attraction </button>
    </form>

    </div>

</div>

<div th:replace="~{layout :: footer}"></div>

    </div>
</body>

</html>