<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>List of Attractios</title>
</head>
<body>
    <h1 th:text="${something}"></h1>
    <table class="table table-dark">
        <thread>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
            </tr>
        </thread>
        <tbody>
        <tr th:each="TouristAttraction : ${attractionList}">
            <td th:text="${TouristAttraction.name}"/>
            <td th:text="${TouristAttraction.description}"/>
            <td>
                <form th:action="@{/welcome/{name}/delete(name=${TouristAttraction.name})}" method="post">
                    <button type="submit">Delete</button>
                </form>
            </td>
            <td>
                <form th:action="@{/welcome/{name}/edit(name=${TouristAttraction.name})}" method="get">
                    <button type="submit">Edit</button>
                </form>
            </td>
            <td>
                <form th:action="@{/welcome/{name}/tags(name=${TouristAttraction.name})}" method="get">
                    <button type="submit">Tags</button>
                </form>

            </td>

        </tr>
        </tbody>
    </table>

</body>
</html>