<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="~{layout :: head}">
</head>
<body>
<div class="wrapper">
    <div th:replace="~{layout :: header}"></div>

    <div class="main-content" th:fragment="content">
    <h1 th:text="${name}"> Tags</h1>
    <table>
        <tr>
            <th scope="col">Tags</th>
        </tr>
        <tbody>
        <tr th:each="tag : ${listOfTags}">
            <td th:text="${tag.getName()}"/>
        </tr>
        </tbody>
    </table>
        <a class="button-link" href="/welcome/attractionList">Go back</a>
    </div>
    <div th:replace="~{layout :: footer}"></div>
</div>
</body>
</html>