<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="~{layout :: head}">
</head>
<body>
    <div class="wrapper">
    <div th:replace="~{layout :: header}"></div>

    <div th:fragment="content" class="content">
    <form th:action="@{/welcome/update}" th:object="${objToUpdate}" method="post">

        <!--
        <input type="hidden" th:head="*{name}" th:value="${objToUpdate.name}">
        -->

        <label for="name">Name</label>
        <input type="text" id="name" th:field="*{name}" readonly>
        <br><br>
        <label for="description">Description</label>
        <input type="text" id="description" th:field="*{description}">
        <br><br>
        <label for="city">City</label>
        <select id="city" name="CityNames" th:field="*{city}">
            <option th:each=" city : ${CityNames}" th:value="${city}" th:text="${city.getName()}" th:field="*{city}">
            </option>
        </select>
        <br><br>
        <label for="tags">Tags</label>
        <th:block th:each="tag : ${tagsList}">
            <input type="checkbox" id="tags" th:field="*{tags}" th:value="${tag}" th:text="${tag.getName()}">
        </th:block>
        <br><br>

        <button type="submit">Finish</button>
    </form>
    </div>

    <div th:replace="~{layout :: footer}"></div>
    </div>
</body>
</html>